.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    gap: 40px;
    padding: 0 10%;
  }
  
.login-image {
    flex: 1; /* Chiếm hết không gian bên trái */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-image img {
    width: 100%;
    max-width: 600px;
    height: auto;

}
  
.login-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
  